.milestone-container {
  padding: 2em;

  .milestone-item {
    margin-left: 2em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-weight: bold;

    .item {
      padding: 1em;
      border: 1px solid black;
      display: flex;

      .milestone-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }

      .fa-chevron-down, .fa-chevron-right {
        margin-right: 1em;
        cursor: pointer;
      }

      .fa-trash-o, .fa-pencil {
        visibility: hidden;
        color: lightgrey;
        margin-right: 0.75em;
        cursor: pointer
      }

      .fa-ellipsis-v {
        cursor: pointer;
        color: lightgrey;
        font-size: 1em;

        &:hover {
          color: black;
        }
      }

      .fa-trash-o {

        &:hover {
          color: red;
        }
      }

      .fa-pencil {
        margin-left: 0.75em;

        &:hover {
          color: yellow;
        }
      }

      .milestone-content {
        &:hover {
          .fa-trash-o, .fa-pencil {
            visibility: visible;
          }
        }
      }

    }

  }
  .task-item {
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid black;
    padding: 1em;
    font-weight: normal;


    &:hover .fa{
      visibility: visible;
    }

    > div > .fa {
      margin-left: 0.75em;
      cursor: pointer;
      color: lightgrey;
      visibility: hidden
    }

    .fa-pencil {

      &:hover {
        color: yellow;
      }
    }

    .fa-trash-o {

      &:hover {
        color: red;
      }
    }
  }
}

.modify-milestone-container{
  display: inline;
}

.modify-milestone-form, .modify-task-form {
  display: inline;

  input[type="text"] {
    padding: 0.5em;
    font-weight: bold;
  }

  button[type="submit"] {
    background: none;
    border: none;
    color: lightgrey;
    font-size: 1em;
    padding: 0;
    margin: 0 0.5em;

    &:hover {
      color: green;
    }

  }

  .fa-times {
    cursor: pointer;
    color: lightgrey;

    &:hover {
      color: red;
    }
  }
}

.create-submilestone-task-form {
  input[type="text"], input[type="submit"] {
    display: block;
    width: 90%;
    padding: 0.5em;
    margin: auto;
    margin-bottom: 1em;
  }

  input[type="radio"] {
    display: inline;
    margin-bottom: 1em;
  }

  .goal-type-input {
    display: inline;
    margin-left: 1em;
  }

  input[type="submit"] {
    background: black;
    font-size: 1em;
    border: none;
    border-radius: 0;
  }

  input[type="submit"] {


    padding: 0.5em;
  }
}

.milestone-goal {
  color: grey;
  font-size: 0.85em;
}

.milestone-menu {

  position: absolute;
  font-weight: normal;
  font-size: 0.8em;
  // right: 0px;
  // margin-right: 2.8em;
  background: white;
  border: 1px solid lightgrey;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(26, 24, 29, 0.16), 0 1px 4px 0 rgba(26, 24, 29, 0.12);
  border-radius: 0.5px;
  li {
    padding: 1em 1.7em;
    cursor: pointer;

    &:hover {
      background: lightgrey;
    }
  }

  &.hide {
    display:none;
  }

}

.milestone-menu-toggle {

}

.task-header {
  padding-top: 1em;
  padding-left: 1em;
  text-decoration: underline;
}

.milestone-task-modal {

  h5 {
    color: white;
    margin-bottom: 2em;
  }
}

.milestone-add-task-landmark-menu {
  margin-right: 20px;
}
