/*
  =====================
    CSS Reset
  =====================
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
}

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Make `a` like a button */
[role="button"] {
    color: inherit;
    cursor: default;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    white-space: pre;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
}


/*
  =====================
   New button styles
  =====================
*/
button,
input[type="submit"] {
  background: #4990E2;
  border: 0.5px solid lightgrey;
  padding: 0.5em;
  color: white;
  font-size: 0.6em;
  cursor: pointer;
}


body {
  font: 14px "Avenir Nex", Helvetica, Arial, sans-serif;
  margin: 0;
}

#root main{
  margin-left: 20px;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
}

/*
  =====================
    Navbar
  =====================
*/

/* Start clearfix */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  clear: both;
  background-color: #4990E2;
}
/* End clearfix */


.navbar {
  position: relative;
  color: #fff;
  background: #4990E2;
  height: 40px;
}

.navbar .navbar-left {
  float: left;
  margin-left: 2em;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;

}

.navbar .navbar-right {
  float: right;
  margin-right: 2em;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 0;
  height: 100%;
  width: 150px;
}

.navbar-logo {
  font-size: 1.5em;
}

.navbar-logo .logo-text {
  padding-left: 10px;
}

.navbar-logo .logo-text span {
  color: #25DC82;
  font-weight:bold;
}

.navbar-logo img {
  width: 35px;
  height: 35px;
  vertical-align: middle;
}

.nav-username {
  line-height: 40px;
  text-align:left;
  padding: 0 1em;
  /*vertical-align: middle;*/
}

.divider {
  height: 20px;
  width: 1px;
  background: white;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}

.dropdown-container {
  cursor: pointer;
  height: 100%;
}

.dropdown-list {
  margin-right: 0;
  position: relative;
  float:left;
  width: 100%;
  background: white;
  color: black;
  text-align: left;
  /*text-align: center;*/
  cursor: pointer;
  /*@TODO: make the box look more appealing ;
  /*border: 1px solid lightgrey;*/
}

.dropdown-list div {
  width: 100px;
  padding: 0.7em 1em 0.7em 1em;
  font-size: 0.85em;
}

.dropdown-list div:hover {
  background:  lightgrey;
}
/*
  =====================
    Navbar animation
  =====================
*/
.nav-dropdown-enter {
  transform: scale(1, 0.1);
  transform-origin: top;
}

.nav-dropdown-enter.nav-dropdown-enter-active {
  transform: scale(1, 1);
  /*transform-origin: top;*/
  transition: all .1s ease-in-out;

}

.nav-dropdown-leave {
  transform: scale(1, 1);
  transform-origin: top;
}

.nav-dropdown-leave.nav-dropdown-leave-active {
  transform: scale(1, 0.1);
  transition: all .1s ease-in-out;
  transform-origin: top;
}

/*
  =====================
    Auth Modal
  =====================
*/

.modal-header {
  text-align: center;
  color: white;
}

.login-form {

  color: white;
}

.login-form div {
  width: 100%;
  margin-bottom: 1em;
}

.login-form input {
  padding: 1em;
  width: 100%;
  box-sizing: border-box
}

.login-form input[type="submit"] {
  background-color: black;
}

.forgot-link {
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #25DC82;
  text-decoration: underline;
}

/*
  =====================
    Convictions
  =====================
*/

.convictionTitle {
  font-size: 1.5em;
}

.convictionTitle .convictionDetail {
  font-size: 0.6em;
  list-style-type: disc;
}

