body {
  font: 14px "Avenir Nex", Helvetica, Arial, sans-serif;
  margin: 0;
}

#root main{
  margin-left: 20px;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
}

/*
  =====================
    Navbar
  =====================
*/

/* Start clearfix */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  clear: both;
  background-color: #4990E2;
}
/* End clearfix */


.navbar {
  position: relative;
  color: #fff;
  background: #4990E2;
  height: 50px;
}

.navbar .navbar-left {
  float: left;
  margin-left: 2em;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;

}

.navbar .navbar-right {
  float: right;
  margin-right: 2em;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 0;
}

.navbar-logo {
  font-size: 1.5em;
}

.navbar-logo .logo-text {
  padding-left: 10px;
}

.navbar-logo .logo-text span {
  color: #25DC82;
  font-weight:bold;
}

.navbar-logo img {
  width: 35px;
  height: 35px;
  vertical-align: middle;
}

.divider {
  height: 20px;
  width: 1px;
  background: white;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}

/*.dropdown-list {
  display: none;
}*/

.dropdown-container {
  cursor: pointer;
}

.dropdown-container .dropdown-list {
  position: absolute;
  float:left;
  width: 100%;
  background:black;
  height: 40px;
  border:solid 1px black;
}

.example-enter {
  opacity: 0.01;
   position: absolute;
  float:left;
  width: 100%;
  background:black;
  height: 40px;
  border:solid 1px black;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
  position: absolute;
  float:left;
  width: 100%;
  background:black;
  height: 40px;
  border:solid 1px black;
}

.example-leave {
  opacity: 1;
  position: absolute;
  float:left;
  width: 100%;
  background:black;
  height: 40px;
  border:solid 1px black;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  position: absolute;
  float:left;
  width: 100%;
  background:black;
  height: 40px;
  border:solid 1px black;
  transition: opacity 300ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
/*
  =====================
    Convictions
  =====================
*/

.convictionTitle {
  font-size: 1.5em;
}

.convictionTitle .convictionDetail {
  font-size: 0.6em;
  list-style-type: disc;
}

