body {
  font: 14px "Avenir Nex", Helvetica, Arial, sans-serif;
  margin: 0;
}

#root main{
  margin-left: 20px;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
}

/*
  =====================
    Navbar
  =====================
*/

/* Start clearfix */
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  clear: both;
  background-color: #4990E2;
}
/* End clearfix */


.navbar {
  position: relative;
  color: #fff;
  background: #4990E2;
  height: 40px;
}

.navbar .navbar-left {
  float: left;
  margin-left: 2em;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;

}

.navbar .navbar-right {
  float: right;
  margin-right: 2em;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 0;
}

.navbar-logo {
  font-size: 1.5em;
}

.navbar-logo .logo-text {
  padding-left: 10px;
}

.navbar-logo .logo-text span {
  color: #25DC82;
  font-weight:bold;
}

.navbar-logo img {
  width: 35px;
  height: 35px;
  vertical-align: middle;
}

.divider {
  height: 20px;
  width: 1px;
  background: white;
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
}

/*.dropdown-list {
  display: none;
}*/

.dropdown-container {
  cursor: pointer;
}

.dropdown-container .dropdown-list {
  position: absolute;
  top: 30px;
  float:left;
  width: 100%;
  background: white;
  color: green;
}

/*.example-enter {
  height: 0;
}

.example-enter.example-enter-active {
  height: 40px;
  transition: height 100ms ease-in;

}

.example-leave {
  height: 40px;
}

.example-leave.example-leave-active {
  height: 0;
  transition: height 100ms ease-in;
}*/

.example-enter {
  transform: scale(1, 0.1);
  transform-origin: top;
}

.example-enter.example-enter-active {
  transform: scale(1, 1);
  /*transform-origin: top;*/
  transition: all .1s ease-in-out;

}

.example-leave {
  transform: scale(1, 1);
  transform-origin: top;
}

.example-leave.example-leave-active {
  transform: scale(1, 0.1);
  transition: all .1s ease-in-out;
  transform-origin: top;
}

/*
  =====================
    Convictions
  =====================
*/

.convictionTitle {
  font-size: 1.5em;
}

.convictionTitle .convictionDetail {
  font-size: 0.6em;
  list-style-type: disc;
}

