/*
============================
  Work Station
============================
*/

.workstation-container {

  .workstation-carousel {
    position: relative;
    width: 100%;
    min-height: 250px;
    background: #D7D297;

    h6 {
      font-size: 1em;
      position: absolute;
      left: 1em;
      top: 1em;
      font-weight: bold;
    }
    .carousel-caret-left,
    .carousel-caret-right, {
      font-size: 5em;
      color: #4286f4;
      position: absolute;
      top: 35%;
      cursor: pointer;

      &:hover {
        color: white;
      }
    }

    .carousel-caret-left {
      left: 1em;
    }

    .carousel-caret-right {
      right: 1em;
    }

    .carousel-content {
      width: 75%;
      text-align: center;
      margin: auto;
      padding-top: 3em;

      .carousel-conviction-title {
        font-size: 2.5em;
        margin-bottom: 0.5em;
      }

      .carousel-conviction-detail {
        font-size: 1.5em;
        color: grey;

        a {
          color: #4286f4;
          text-decoration: underline;
        }
      }
    }

    .carousel-circles {
      display: inline-block;
      position: absolute;
      width: 50%;
      margin: auto;
      bottom: 1em;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;

      .carousel-circle {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: lightgrey;
        border: 1px solid grey;
        margin: 0 0.2em;
        cursor: pointer;

        &.active {
          background: white;
        }

        &:hover {
          background: white;
        }
      }
    }

    .carousel-play-pause-button {
      font-size: 3em;
      color: rgba(255, 255, 255, 0.5);
      position: absolute;
      top: 0.3em;
      right: 2em;
      cursor: pointer;

      &:hover {
        color: rgba(255, 255, 255, 1)
      }
    }
  }
}

.active-timer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  // display: inline-block;
}

.task-dropdown-container {
  display: inline-block;
  position:relative;
  width: 75%;
  cursor: pointer;
  > div {
    display: inline-block;
    position: relative;
    width: 100%;
    // display: inline-block;
  }
  .task-dropdown-display {
    padding: 1.3em;
    margin-left: 1em;
    margin-top: 1em;
    width: 100%;
    border: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    color: green;
    box-sizing: border-box;
  }
  .task-dropdown-list {
    display: none;
    padding-left: 1em;

    width: 100%;
    > div {
      padding: 1em;
      padding-right: 1.3em;
      border: 1px solid lightgrey;

      &:hover {
       background: lightgrey;
      }
    }
  }

  &.show {
    .task-dropdown-list {
      display: block;
    }
  }
}



.timer-controls {
  display: inline-block;
  position: relative;
  top: 0.4em;
  font-size: 3em;
  color: #25DC82;
  opacity: 1;
  // padding-left: 1.5em;
  > i {
    padding-left: 0.2em;
    cursor: pointer
  }

  .fa-play-circle {
    cursor: pointer;

    &:hover {
      //@TODO: make color a different active
      color: blue;
    }

    &.disabled {
      cursor: default;
      opacity: 0.3;

      &:hover {
        color: #25DC82;
      }
    }
  }

  .fa-stop-circle-o {
    color: red;

    &.disabled {
      cursor: default;
      opacity: 0.3;
    }
  }

  .fa-pause-circle-o {
    color: #CCCC00;

    &.disabled {
      cursor: default;
      opacity: 0.3;
    }
  }

}

.chronometer {
  position: relative;
  // top: 50%;
  // transform: translateY(-50%);
  right: 1em;
  top: 0.7em;
  padding-left: 1em;
  font-size: 2em;
}

.task-name {
  font-weight: bold;
}

.task-milestone-content {
  color: grey;
  font-size: 0.8em;
  margin-left: 0.5em;
}

.workstation-task-activities {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  padding: 1em;
  font-size: 1em;
  h4 {
    font-size: 1.4em;
    text-align: left;
    padding-bottom: 0.7em;
    font-weight: bold;
  }
}

.task-activity-item {
  padding: 1em;
  border-bottom: 1px dotted grey;
  display: flex;
  justify-content: space-between;
}

.task-activity-total {
  padding: 1em;
  // display: flex;
  // justify-content: space-between;
  float: right;
  font-size: 1.4em;
}

.total-time-amount {
  margin-left: 1em;
}

.task-activity-date {
  font-size: 1.3em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid grey;
  display: inline-block;
}

.task-activity-name {
  font-weight: bold;
}

.date-task-activity-block {
  margin-bottom: 2em;
}

.task-activity-time-range {
  color: lightgrey;
  font-size: 0.8em;
  margin-right: 1em;
}

.workstation-no-tasks,
.conviction-no-convictions,
.milestone-no-milestones,
.stat-no-stats {
  width: 50%;
  display: block;
  margin: auto;
  margin-top: 5em;
  text-align: center;
  font-size: 1.5em;
  color: lightgrey;

  a {
    color: #4286f4;
    text-decoration: underline
  }
}

.task-dropdown-select-container {
  width: 75%;
  display: inline-block;
  position:relative;
  margin-top: 1.5em;
  margin-left: 1.5em;
}

.date-selector-container {
  margin-bottom: 1em;
  margin-top: 1em;
}

.date-selector {
  position: relative;
  margin-right: 1em;
  label {
    position: absolute;
    pointer-events: none;
    top: -1.9em;
    font-size: 1em;
    transition: 0.2s ease all;
    opacity: 0.5;
    color: black;
    width: 100%;
  }
}

.DayPickerInput {
  input {
    padding: 1em;
  }
}

.task-activities-fetch-button {
  padding: 1em;
  font-size: 0.8em;
}
