/*
============================
  Work Station
============================
*/

.workstation-container {

  .workstation-carousel {
    position: relative;
    width: 100%;
    min-height: 250px;
    background: #D7D297;

    h6 {
      font-size: 1em;
      position: absolute;
      left: 1em;
      top: 1em;
      font-weight: bold;
    }
    .carousel-caret-left,
    .carousel-caret-right, {
      font-size: 5em;
      color: #4286f4;
      position: absolute;
      top: 35%;
      cursor: pointer;

      &:hover {
        color: white;
      }
    }

    .carousel-caret-left {
      left: 1em;
    }

    .carousel-caret-right {
      right: 1em;
    }

    .carousel-content {
      width: 75%;
      text-align: center;
      margin: auto;
      padding-top: 3em;

      .carousel-conviction-title {
        font-size: 2.5em;
        margin-bottom: 0.5em;
      }

      .carousel-conviction-detail {
        font-size: 1.5em;
        color: grey;
      }
    }

    .carousel-circles {
      display: inline-block;
      position: absolute;
      width: 50%;
      margin: auto;
      bottom: 1em;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;

      .carousel-circle {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: lightgrey;
        border: 1px solid grey;
        margin: 0 0.2em;
        cursor: pointer;

        &.active {
          background: white;
        }

        &:hover {
          background: white;
        }
      }
    }

    .carousel-play-pause-button {
      font-size: 3em;
      color: rgba(255, 255, 255, 0.5);
      position: absolute;
      top: 0.3em;
      right: 2em;
      cursor: pointer;

      &:hover {
        color: rgba(255, 255, 255, 1)
      }
    }
  }
}

.active-timer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  // display: inline-block;
}

.task-dropdown-container {
  display: inline-block;
  position:relative;
  width: 75%;
  cursor: pointer;
  > div {
    display: inline-block;
    position: relative;
    width: 100%;
    // display: inline-block;
  }
  .task-dropdown-display {
    padding: 1.3em;
    margin-left: 1em;
    margin-top: 1em;
    width: 100%;
    border: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    color: green;
    box-sizing: border-box;
  }
  .task-dropdown-list {
    display: none;
    padding-left: 1em;

    width: 100%;
    > div {
      padding: 1em;
      padding-right: 1.3em;
      border: 1px solid lightgrey;

      &:hover {
       background: lightgrey;
      }
    }
  }

  &.show {
    .task-dropdown-list {
      display: block;
    }
  }
}



.timer-controls {
  display: inline-block;
  position: relative;
  top: 0.4em;
  font-size: 3em;
  color: #25DC82;
  opacity: 1;
  // padding-left: 1.5em;
  > i {
    padding-left: 0.2em;
    cursor: pointer
  }

  .fa-play-circle {
    cursor: pointer;

    &:hover {
      //@TODO: make color a different active
      color: blue;
    }

    &.disabled {
      cursor: default;
      opacity: 0.3;

      &:hover {
        color: #25DC82;
      }
    }
  }

  .fa-stop-circle-o {
    color: red;

    &.disabled {
      cursor: default;
      opacity: 0.3;
    }
  }

  .fa-pause-circle-o {
    color: #CCCC00;

    &.disabled {
      cursor: default;
      opacity: 0.3;
    }
  }

}

.chronometer {
  position: relative;
  // top: 50%;
  // transform: translateY(-50%);
  right: 1em;
  top: 0.7em;
  padding-left: 1em;
  font-size: 2em;
}

.task-name {
  font-weight: bold;
}

.task-milestone-content {
  color: grey;
  font-size: 0.8em;
}

/*
  ===================================
    Carousel Conviction animation
  ===================================
*/
// .carousel-conviction-title-transition-enter {
//   position: relative;
//   // left: -9em;
//   opacity: 0.01;

//   &.carousel-conviction-title-transition-enter-active {
//     opacity: 1;
//     // left: 0;
//     transition: opacity 1000ms ease-in, left 500ms ease-in;

//   }
// }

// .carousel-conviction-title-transition-leave {
//   opacity: 1;
//   &.carousel-conviction-title-transition-leave-active {
//     opacity: 0.01;
//     transition: opacity 1000ms ease-in, right 500ms ease-in;
//   }
// }

// .carousel-conviction-detail-transition-enter {
//   position: relative;
//   // right: -9em;
//   opacity: 0.01;

//   &.carousel-conviction-detail-transition-enter-active {
//     opacity: 1;
//     // right: 0;
//     transition: opacity 1000ms ease-in, right 500ms ease-in;

//   }
// }

// .carousel-conviction-detail-transition-leave {
//   opacity: 1;
//   &.carousel-conviction-detail-transition-leave-active {
//     opacity: 0.01;
//     transition: opacity 1000ms ease-in, right 500ms ease-in;
//   }
// }
