extends ../layout

block content
  h1= title
  form(method='POST' action='../user/register')
    div
      label(for='first_name') First Name:
      input#first_name(type='text', placeholder='ex. Tony', name='first_name')
    div
      label(for='last_name') Last Name:
      input#last_name(type='text', placeholder='ex. Won', name='last_name')
    div
      label(for='email') Email:
      input#email(type='text', placeholder='ex. Won', name='email')

    button(type='submit') Register


  if errors
    ul
      for error in errors
        li!= error.msg
