  /*
    @TODO: add different browser capabilities for the calc
  */
$sidebar-background-color: #DBEAEE;
$sidebarWidth: 200px;
/* 40px is the width of the side bar */
$sidebar-height: calc(100vh);

.sidebar-container {
  width: $sidebarWidth;
  height: $sidebar-height;
  background: $sidebar-background-color;
  position: absolute;
  box-sizing: border-box;
  padding-top: 3em;

  a.sidebar-item {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0.5em 0;
    color: #9B9B9B;
    box-sizing: border-box;
    background: #111;
    border-bottom: 1px solid #000;
    border-top: 1px solid #222;
    box-shadow:
      inset -5px 0 0 hsla(0, 0%, 0%, .2),
      inset 0 20px 0 #161616
    ;
    color: #bbb;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 3em;
    text-align: right;
    text-shadow: 0 -1px 1px hsla(0, 0%, 0%, .5);
    transition: all 300ms;
    &:hover {
      background: #222;
      border-top-color: #3a3a3a;
      box-shadow:
        inset -5px 0 0 #3a3a3a,
        inset 0 20px 0 #282828
      ;
      color: #ddd;
      outline: 0  ;
      padding: 0 2em;
      transition: all 300ms;
    }
  }
}

.content {
  box-sizing: border-box;
  width: calc(100vw - 200px);
  margin-left: $sidebarWidth;
  padding: 2em 3em;
}
